.button {
    display: block;
    width: 100%;
    font-size: $font-size-sm;
    border: none;
    color: $color-text;
    background: $color-button;
    padding: $spacing-sm $spacing-md;
    margin-bottom: $spacing-md;

    &:hover {
        background: $color-button-hovered;
        cursor: pointer;
    }

    &:active {
        background: $color-button-active;
    }
}

/* CSS */
.button-24 {
    background: #ff4742;
    border: 1px solid #ff4742;
    border-radius: 6px;
    box-shadow: rgba(0 0 0 / 10%) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #ff4742;
}

.button-24:active {
    opacity: 0.5;
}
